body {
  background-color: #ff0000;
}
h1 {
  color: #ffffff;
  font-style:oblique;
  text-align: center;
  letter-spacing: 2px;
}
p.1 {
  text-align: left;
  font-size: 70px;
}
p.2 {
  text-align: left;
  font-size: 70px;
}
p.3 {
  text-align: left;
  font-size: 70px;
  color: blue;
}
